# HTTP to HTTPS redirection
#http:// {
#	redir https://{host}{uri} permanent
#}

{
	http_port 80
	https_port 443
	admin off

	layer4 {
		:25565 {
			route {
				proxy {
					upstream 172.16.5.1:25565
				}	
			}
		}
	}
}

:80 {
	uri strip_suffix "/" 
	redir /weblog/ /weblog
	handle_path /weblog* {
		reverse_proxy http://weblog:8080
	}

	# git-web
	redir /git/ /git
	handle_path /git* {
		reverse_proxy http://cgit
		file_server
	}

	# lbmt-darkroom
	reverse_proxy http://172.16.1.1:8001
}

:443 {
	tls internal
	respond "BOO!"
}

